<div class="page-header row">
  <h1 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h1>
</div>

<div id="getting-started">
  <p><img src="/assets/bib.png" style="margin: 0 1em"/><a href="/?f[doctype][]=bib">Catalog</a></p>
  <p><img src="/assets/cres.png" style="margin: 0 1em"/><a href="/?f[doctype][]=cres">Course reserves</a></p>
</div>
