%html
  %body
    %h1 Course reserves
    %form{ action: "http://lola:3000/" }
      %input{ name: "q", size: 30 }
      %input{ type: "hidden", name: "f[format][]", value: "cres" }
      %input{ type: "hidden", name: "f[inst_z][]", value: "whe" }
      %input{ type: "submit", name: "sub", value: "Submit" }
    %p Enter words from the course name or number, your instructor's name, or the department.  You may combine any or all of these.
